.landscapes {
  grid-column: center-start / center-end;
  margin: 14rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7.2rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
  }
}

.landscape {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.6rem;
  background-color: #172664;
  border-radius: 1.6rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;



  &:hover {
    transform: translateY(-0.8rem);
    background-color: #182C77;
    box-shadow: 0 2rem 4rem rgba(35, 64, 169, 0.25);
  }

  &__img {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    z-index: 1;
  }

  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 2.4rem;
    width: 2.4rem;
    fill: #fce19c;
    stroke: #fce19c;
    justify-self: end;
    margin: 1.2rem;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      fill: #ffc2cd;
      stroke: #ffc2cd;
    }
  }

  &__name {
    font-family: $font-primary;
    font-size: 1.8rem;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.25px;
    background-color: #263fa6;
    color: #ecedfe;
    padding: 1.2rem;
    width: 75%;
    justify-self: center;
    align-self: end;
    border-radius: 0.8rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    transform: translateY(50%);
    z-index: 3;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.4rem;
    }
  }

  &__location,
  &__download {
    margin-top: 2.6rem;
  }

  &__location,
  &__download,
  &__format,
  &__source {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-right: 1.6rem;

    svg {
      height: 3.6rem;
      width: 3.6rem;
      margin-right: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }

  &__btn {
    border-radius: 0px;
    grid-column: 1 / -1;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }

    &:focus {
      outline: none;
      outline: 2px solid #FF4769;
    }
  }
}
